/* General */
* {
  font-family: 'Poppins';
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
}

header {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.btn-primary {
  background-color: #2b00ec;
  border: 2px solid #180083;
}

.btn-danger {
  background-color: #f59f00;
}

.btn-danger:hover {
  background-color: #c58700;
}

.btn-primary:hover {
  background-color: #000288;
  border-color: #3700ff;
}

.msg {
  background-color: #D4EDDA;
  color: #155724;
  border: 1px solid #C3E6CB;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

/* navbar */
#navbar img {
  width: 40px;
}

#navbar {
  justify-content: space-between;
  background-color: #FFF;
  padding: 5px 0;
  margin-left: 15px;
  margin-right: 15px;
}

#navbar a {
  font-size: 14px;
  color: #757575;
}

#navbar a:hover {
  color: #1b01ad;
}

/* Search Container */
#search-container {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("../img/book.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 50px;
  text-align: center;
}

#search-container h1 {
  color: #ffffff;
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: bolder;
}

#search-container form {
  width: 50%;
  margin: 0 auto;
}

#search-container button {
  background-color: #2b00ec;
  border: solid 1px #000288;
  border-radius: 10px;
  width: 50px;
  color: #FFF;
}


/* Página cadastro */
#titulo-genero {
  margin-bottom: 10px;
  margin-left: 0;
}

#livro-create-title {
  text-align: center;
  font-weight: 900;
}

.imargem-create {
  display: flex;
  justify-content: center;
  margin-left: 7px;
}

/* Events list */
#events-container {
  padding: 50px;
}

#events-container h2 {
  margin-bottom: 10px;
}

#events-container .subtitle {
  color: #757575;
  margin-bottom: 30px;
}

#cards-container {
  display: flex;
}

#cards-container img {
  max-height: 250px;
  max-width: 200px;
}

.image-container-welcome {
  display: flex;
  justify-content: center;
}

#events-container .card {
  flex: 1 1 24%;
  max-width: 25%;
  border-radius: 10px;
  padding: 0;
  margin: .5%;
}

#title-mais-emprestados {
  margin-top: 40px;
  margin-bottom: 0;
}

#events-container img {
  max-height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date {
  font-size: 12px;
  color: #CCC;
}

.card .card-title {
  color: #212121;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.card-participants {
  font-size: 14px;
  color: #757575;
}


#sair {
  color: red;
  width: 30px;
  height: 20px;
}

#sair:hover {
  color: rgb(130, 0, 0);
}

/* Event create page */
#event-create-container {
  padding: 30px
}

#event-create-container label {
  font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
  font-size: 12px;
}

/* Event page */
#image-container,
#info-container {
  margin-top: 30px;
}

#image-container {
  display: flex;
  justify-content: center;
}

#image-container img {
  border-radius: 10px;
  max-height: 400px;
  min-height: 400px;
}

#info-container h1 {
  font-size: 36px;
  font-weight: 900;
}

#info-container p {
  margin: 0;
  font-size: 14px;
  display: flex;
}

#info-container h3,
#description-container h3 {
  font-size: 20px;
  font-weight: bold;
}

#info-container ion-icon {
  font-size: 20px;
  color: #180090;
  margin-right: 5px;
}

#info-container #event-submit {
  margin: 20px 0;
}

/* footer */
footer {
  text-align: center;
  background-color: #353E48;
  color: #FFF;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}

.edit-btn {
  background-color: #0004da;
  color: #FFF;
}

.edit-btn:hover {
  background-color: #000478;
  color: #FFF;
}

.delete-btn {
  background-color: red;
  color: #FFF;
}

.delete-btn:hover {
  background-color: rgb(131, 0, 0);
  color: #FFF;
}

#livo-autor {
  margin-top: 0;
}